

<div class="card m-3 p-3">
  <h5 class="card-header">{{post.title}}</h5>

  <div class="card-body">
    <p class="card-text">{{post.content}}</p>
    <p class="card-text p-1" style="font-weight: bold;">Posted by: {{post.user.name}} on {{moment post.date "MM/DD/YYYY"}}</p>
  </div>
</div>

<section class="d-flex justify-content-center align-items-center">
<div class="comment-container  mb-5">
  <div class="row justify-content-center mb-5">
  <h3 class="comments-here">Comments</h3>
  </div>

   {{#each comm as |com|}}
    <div class="card m-2">
      <div class="card-body">
        <p class="card-text">{{com.content}}</p>
        <p class="card-text" style="font-style: italic;">Posted by: {{com.user.name}} on {{moment com.date "MM/DD/YYYY"}}</p>
      </div>
    </div>
    {{/each}}

</div>
</section>

<div class="row justify-content-center">
  <h3 class="leave-comment">Leave a Comment</h3>
</div>

<form class="m-3">
  <div class="form-group d-flex align-items-center justify-content-center commenting">
    <textarea rows="3" class="form-control text-area-comment" placeholder="Leave a comment" id="comment-area"></textarea>
    <div class="row justify-content-center mt-2">
      <button class="btn btn-dark m-2 mt-3 submit-buttonz" type="submit" id="btn">Submit</button>
    </div>
    
  </div>
</form>
<script src="/js/comment.js"></script>